<div class="row">
  <div class="col s2">
  </div>
  <div class="col s10">
    <div class="row">
      <div class="col s10 m10 request-card">
        <div class="card horizontal">
          <div class="card-image">
            <img src="./../../assets/images/dakkapel.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="row">
                <div class="col s5">
                  <h5 style="margin:5px;margin-left:0;">Dakkapel plaatsen</h5>
                  <br>
                  <p style="margin-left:20px;">
                    Plein <br/>
                    1234AB<br/>
                    Amsterdam
                  </p>
                </div>
                <div class="col s7 center" style="position: absolute; bottom:5px; right:0;">
                  <h4>In behandeling....</h4>
                  <br>
                  <button mat-button (click)="showDetails()">Bekijk alle criteria</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="showDetailsBlock">
        <div class="col s10 m10 request-card">
          <div class="card horizontal">
            <div class="card-image">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="row">
                  <div class="col s5">
                    <h5 style="margin:5px;margin-left:0;">Criteria van de vergunning</h5>
                    <br>
                    <p style="margin-left:20px;">
                      - Maximaal 1.75m hoog <br>
                      - Niet bouwen op een monument <br>
                      - 50 cm van de buren vandaan te blijven <br>
                      - Uit de dakvoet bouwen<br>
                      - Nokhoogte bepalen<br>
                      - Openbaar groen<br>
                      - Welstandsnota<br>
                      - Welstandsvrij gebied<br>
                    </p>
                  </div>
                  <div class="col s4">
                    <h5 style="margin:5px;margin-left:0;">Burger voldoet aan.</h5>
                    <br>
                    <p style="margin-left:20px;">
                      <i class="fa fa-check" aria-hidden="true"></i> <br>
                       <i class="fa fa-check" aria-hidden="true"></i> <br>
                       <i class="fa fa-check" aria-hidden="true"></i> <br>
                       <i class="fa fa-check" aria-hidden="true"></i> <br>
                       <i class="fa fa-times" aria-hidden="true"></i><br>
                       <i class="fa fa-check" aria-hidden="true"></i><br>
                       <i class="fa fa-times" aria-hidden="true"></i><br>
                       <i class="fa fa-check" aria-hidden="true"></i><br>
                    </p>
                  </div>
                  <div class="col s3">
                    <button mat-button>Goedkeuren</button>
                    <br>
                    <br>
                    <input type="text" placeholder="Waarom afwijzen?">
                    <button mat-button>Afwijzen</button>
                    <br>
                    <br>
                    <button mat-button>Meer informatie vragen aan de burger</button>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>