/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
a{
	color: #263248;
	font-weight: bold;
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #263248;
}

.margin_top{
	height: 20px;
}

/*completed*/
.completed mat-expansion-panel-header{
	background-color: #2CAD23;
	color: green;
	font-weight: bold;
}
.completed .mat-expansion-panel-content{
	background-color: rgba(0,255,0, 0.6);
}

.in_process mat-expansion-panel-header{
	background-color:rgba(255,255,0,0.7);/*yellow*/
}
.in_process .mat-expansion-panel-content{
	background-color:rgba(255,255,0,0.4)
}
/*nog te doen*/
.pending mat-expansion-panel-header{
	background-color: rgba(0,0,255, 0.5);
}
.pending .mat-expansion-panel-content{
	background-color: rgba(0,0,255, 0.2);
}
/*bezig*/
.attention_required mat-expansion-panel-header{
	background-color:rgba(255,0,0,0.7);
}
.attention_required .mat-expansion-panel-content{
	background-color:rgba(255,0,0,0.4);
}
mat-panel-title.title {
    width: 40%;
}