/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
a{
	color: #263248;
	font-weight: bold;
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #263248;
}

.margin_top{
	height: 20px;
}