<div class="row">
  <div class="col s4 offset-s2">
  	<h3>Vul deze vragen naar waarheid in a.u.b.</h3>

<p>Gaat het om werkzaamheden aan een monument?<p>
	<input type="radio" name="werkzaamheden" value="false" id="false"><label for="false">Nee</label><br />
	<input type="radio" name="werkzaamheden" value="false" id="true"><label for="true">Ja</label>

<p>Krijgt uw dakkapel een plat dak?</p>
	<input type="radio" name="plat_dak" value="false" id="Pfalse"><label for="Pfalse">Nee</label><br />
	<input type="radio" name="plat_dak" value="false" id="Ptrue"><label for="Ptrue">Ja</label>
<p>Wordt de hoogte van de dakkapel lager dan 1.75 meter.</p>
	<input type="radio" name="hoogte" value="false" id="falseH"><label for="falseH">Nee</label><br />
	<input type="radio" name="hoogte" value="false" id="trueH"><label for="trueH">Ja</label>
<br />
<br />
	<a href="/dashboard" class="waves-effect waves-light btn">Vraag je vergunning aan!</a>
  </div>
  <div class="col s4">
    <h3>Huidige aanvraag</h3>
    Je bent op dit moment een aanvraag aan het doen voor een vergunning van een:
    <h3>Dakkapel</h3>
    <hr /><br />
    Leliestraat 29<br />
    5482ML<br />
    Schijndel<br />
    wross@live.nl<br />
    073-1234567<br />
	<br />
	<a href="" class="waves-effect waves-light btn">Vraag de gegevens aan voor een ander adress</a>
  </div>
</div>
