<div class="margin_top"></div>
<div class="row">
	<div class="col s6 offset-s3">
		<form method="post" action="">
			<input class="find_field" type="text" name="search" placeholder="Zoek je vergunning..." #myInput [(ngModel)]="name" (input)="filterItem(myInput.value)">
		</form>
	</div>		
</div>
<div class="row">
  <div class="col s8 offset-s2">
    <div class="col s6 m6" *ngFor="let req of filteredItems">
      <div class="card">
        <div class="card-image">
          <img [src]="'assets/images/'+req.image">
          <span class="card-title">{{req.title}}</span>
        </div>
        <div class="card-content">
          <p>{{req.desc}}</p>
        </div>
        <div class="card-action">
          <a href="/aanvraag" class="link">Vraag deze vergunning aan voor jouw project</a>
        </div>
      </div>
    </div>
  </div>
</div>
