nav{
	background-color: #C73226;
	position: fixed;
	z-index: 1000;
}
nav div ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
nav div ul li:hover{
	background-color: #E3E3E3;
}
nav div ul li:hover a{
	color: #263248;
}
.height_fix{
	height: 64px;
}